.h1{
    text-align: center;
    font-size: 20px;
color: rgb(211, 196, 58);
}
.h3{
    text-align: center;
    color: rgb(211, 196, 58);
}

.sana{
    text-align: center;
}

.psana{
    background-color: rgb(177, 174, 174);
    color: rgb(3, 94, 112);
}

.almased{
    background-color: rgb(145, 174, 180);
    color: rgb(44, 6, 6);
    text-align: center;
}
.img1{
    height: 200px;
    
}

.img22{
    height: 200px;
}



.img3{
    height: 200px;
}
.img4{
    height: 200px;
}
.img5{
    height: 200px;
}
.img6{
    height: 200px;
}
.img7{
    height: 200px;
}
.img8{
    height: 200px;
}
.img9{
    height: 200px;
}





.showh1{
    text-align: center;
    background-color: rgb(145, 174, 180);
}





.agseh1{
    text-align: center;
    background-color: rgb(145, 174, 180);
}




.container{
    background-color: rgb(221, 214, 195);
}




